<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'What\'s your post called?' %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :category_id %>
    <%= f.select(:category_id, Category.all.map{ |f| [f.name, f.id] }) %>    

    <%= f.submit %>
  <% end %>