<% @posts.each do |post| %>
  <article>
    <header>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <%= image_tag(post.user.avatar.url(:thumb)) %>
      <small>Written by <%= link_to post.user.name, author_path(post.user) %> <%= distance_of_time_in_words(Time.now - post.created_at) %> ago</small> 
    </header>

    <p>
      <%= markdown(post.body.truncate(600)) %> 
      <% if post.comments.count == 1 %>
        <%= post.comments.count %> Comment
      <% else %>
        <%= post.comments.count %> Comments
      <% end %>
    </p>

    <small>Category: <%= link_to post.category.name, category_path(post.category) %></small>
  </article>
<% end %>