<% @posts.each do |post| %>
  <article>
    <header>
      <h2><%= post.title %></h2>
      <small>Written by <%= link_to post.user.name, author_path(post.user) %> <%= distance_of_time_in_words(Time.now - post.created_at) %> ago</small> 
    </header>

    <p>
      <%= markdown(post.body.truncate(600)) %> <%= link_to "Read more", post_path(post)%>, 
      <% if post.comments.count > 1 || post.comments.count == 0 %>
        <%= post.comments.count %> Comments
      <% else %>
        <%= post.comments.count %> Comment 
      <% end %>
    </p>

    <small>Category: <%= link_to post.category.name, category_path(post.category) %></small>
  </article>
<% end %>