<p><%= notice %></p>

<h1><%= @post.title %></h1>
<%= image_tag(@post.user.avatar.url(:thumb)) %>
<small>Written by <%= link_to @post.user.name, author_path(@post.user) %> <%= distance_of_time_in_words(Time.now - @post.created_at) %> ago</small>

<p><%= markdown(@post.body) %></p>

<ul class="user-options">
  <% if @post.user == current_user %>
    <li><%= link_to "Edit Post", edit_post_path %></li>
    <li><%= link_to "Delete Post", @post, method: :delete, data:{ confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<h2>Leave a Comment:*</h2>

<%= render 'partials/commentForm' %>

<small>*Use Markdown to format your comments! You can reference <%= link_to "this handy cheatsheet", "http://assemble.io/docs/Cheatsheet-Markdown.html", target: "_blank" %></small>


<% @comment.each do |comment| %>
  <h3><%= image_tag(comment.user.avatar.url(:thumb)) %><%= comment.user.name %></h3>
  <p><%= markdown(comment.body) %></p>
  <small>Submitted <%= distance_of_time_in_words(Time.now - comment.created_at) %> ago</small>
<% end %>